<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <%result.forEach(element=>{ %>
        <h2><%=element.house%></h2>
        <p><%=element.dateOfBirth%></p>
        <form action="/detail" method="POST">
            <input type="hidden" name="house" value="<%=element.house%>">
            <button type="submit">View details</button>
        </form>
    <%})%>
</body>
</html>